#background, 
img {
    position: absolute;
    left: 0;
    top: 0;
}

#bird {
    width: 50px;
}
#background {
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/background-night.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: auto 100%;
}
#pipe {
    top: 192px;
}